@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Belanosima', sans-serif;
}
#menu{
    text-align: center;
}
@media (min-width: 768px) { 
    /*=== Aplicando CSS al encabezado===*/
    #encabezado{
        display: grid;
        grid-template-columns: 1fr 2fr; /*Medidas: px em rem % fr*/
        align-items: center;
    }
    #menu{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    #opcionesIzquierdo{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    /*=== Aplikcando CSS a la seccioin productos===*/
    #productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*=== Aplicando CSS a la Galería===*/
    section#galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

#piePagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: blue;
    color: white;
}
#redesSociales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
ion-icon{
    color: white;
    font-size: 2rem;
}
