@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}
img,video{
    width: 100%;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Belanosima', sans-serif;
    background-color: #EFF5F5;
}
h2{
    text-align: center;
}
/* || ENCABEZADO/ NAVBAR ||*/
#encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FC7300;
    z-index: 1000;
}
#menu{
    width: 65%;
}
#logo{
    width: 10%;
}

#opciones{
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}
ul#opciones li a{
    font-size: 1.4rem;
    color: #181823;
    position: relative;
    text-decoration: none;
}
ul#opciones li a::before{
    content: '';
    width: 0%;
    background-color: #00425A;
    height: 4px;
    position: absolute;
    bottom: -4px;
    transition: all 0.9s;
}
ul#opciones li a:hover::before{
    width: 100%;
}
ul#opciones .dropdown-menu li a:hover::before{
    width: 88%;
}
ul#opciones li a:hover{
    color:#00425A;
}
@media(max-width:768px){
    #menu{
        width: 85%;
    }
    #logo{
        width: 10%;
    }
    
    #opciones{
        display: flex;
        justify-content: space-around;
        padding-top: 1%;
    }
    ul#opciones li a{
        font-size: 1rem;
        color: #181823;
        position: relative;
        text-decoration: none;
    }
    ul#opciones li a::before{
        content: '';
        width: 0%;
        background-color: #00425A;
        height: 4px;
        position: absolute;
        bottom: -4px;
        transition: all 0.9s;
    }
    ul#opciones li a:hover::before{
        width: 100%;
    }
    ul#opciones .dropdown-menu li a:hover::before{
        width: 88%;
    }
    ul#opciones li a:hover{
        color:#00425A;
    }
}
@media(max-width:500px){
    #menu{
        width: 90%;
    }
    #logo{
        width: 10%;
    }
    
    #opciones{
        display: flex;
        justify-content: space-around;
        padding-top: 1%;
        padding-right: 5%;
    }
    ul#opciones li a{
        font-size: 1rem;
        color: #181823;
        position: relative;
        text-decoration: none;
    }
    ul#opciones li a::before{
        content: '';
        width: 0%;
        background-color: #00425A;
        height: 4px;
        position: absolute;
        bottom: -4px;
        transition: all 0.9s;
    }
    ul#opciones li a:hover::before{
        width: 100%;
    }
    ul#opciones .dropdown-menu li a:hover::before{
        width: 88%;
    }
    ul#opciones li a:hover{
        color:#00425A;
    }
}
/* || BANNER || */
#banner{
    position: relative;
    justify-content: space-evenly;
}
#subtituloBanner{
    position: absolute;
    top: 400px;
    font-size: 4rem;
    color: #EFF5F5;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 100%;
    text-align: center;
}
#subBanner2{
    display: none;
}
@media (max-width: 1000px){
    #banner{
        background-color: #00425A;
    }
    #subtituloBanner{
        display: none;
    }
    #subBanner2{
        display: block;
        font-size: 3rem;
        color: #EFF5F5;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 500px){
    #banner{
        background-color: #00425A;
        
    }
    #subtituloBanner{
        display: none;
        
    }
    #subBanner2{
        display: block;
        font-size: 1.5rem;
        color: #EFF5F5;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}
/* ||QUIENES SOMOS SECTION|| */
#quienesSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EFF5F5;
    color: #181823;
    padding: 3%;
}
#tituloImagen{
    padding-top: 5%;
}
#textoSomos{
    text-align: right;
    padding: 3%;
    padding-top: 30%;
}
@media (max-width: 768px){
    #quienesSomos{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    #textoSomos{
        text-align: left;
        padding: 3%;
        padding-top: 2%;
        padding-left: 5%;
    }
}
/* ||PORQUE ELEGIRNOS SECTION|| */
#porqueElegirnos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #00425A;
    color: #EFF5F5;
    padding: 3%;
}
#porque{
    padding-top: 10%;
    
}
#tituloTexto{
    text-align: center;
}
#imagen{
    padding: 5%;
}
@media (max-width:768px){
    #porqueElegirnos{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    #tituloTexto{
        text-align: center;
    }
}
/* ||PROPUESTAS EDUCATIVAS SECTION|| */
#propuestaTitulo{
    background-color: #EFF5F5;
    color: #181823;
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    margin: auto;
    position: relative;
}
#propuesta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
section#propuesta article{
    padding: 3%;
    position: relative;
    background-color: #EFF5F5;
    color: #181823;
    text-align: center;
}
.botonDetalle{
    color: #EFF5F5;
    background-color: #00425A;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.8s;
}
.botonDetalle:hover{
    cursor: pointer;
    color: #00425A;
    background-color: #EFF5F5;
    text-transform: uppercase;
    border: 2px solid #181823;
    box-shadow: 5px 5px 5px #181823;
}
@media (max-width:768px){
    #propuestaTitulo{
        background-color: #EFF5F5;
        color: #181823;
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin: auto;
        position: relative;
    }
    #propuesta{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    section#propuesta article{
        padding: 2%;
    }
    #propuestaImg{
        padding: 5%;
    }
}
/* ||ULTIMAS NOTICIAS SECTION|| */
#noticiasTitulo{
    background-color: #00425A;
    color: #EFF5F5;
    padding-top: 6%;
    padding-bottom: 2%;
    padding-left: 3%;
    font-size: 3.5rem;
    text-align: left;
    width: 100%;
    margin: auto;
    position: relative;
}
#noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section#noticias article{
    width: 100%;
    padding: 5%;
    position: relative;
    background-color: #00425A;
    color: #EFF5F5;
    text-align:justify;
}
@media (max-width:768px){
    #noticias{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    section#noticias article{
        width: 100%;
        padding: 7%;
        position: relative;
        background-color: #00425A;
        color: #EFF5F5;
        text-align:center;
    }
}
/* || FOOTER || */
#sectionRedesTitulo{
    position: relative;
}
#redesTitulo{
    background-color: #181823;
    color: #EFF5F5;
    padding-left: 10%;
    padding-top: 1.3%;
    font-size: 2rem;
    text-align: left;
    width: 30%;
    margin: auto;
    position: absolute;
}
#contacto{
    padding-bottom: 15%;
}
#contactoTitulo{
    padding-left: 13%;
    padding-top: 10%;
}
ul#link li a{
    font-size: 1.3rem;
    color: #EFF5F5;
    position: relative;
    text-decoration: none;
}
ul#link li a::before{
    content: '';
    width: 0%;
    background-color: #FC7300;
    height: 4px;
    position: absolute;
    bottom: -4px;
    transition: all 0.9s;
}
ul#link li a:hover::before{
    width: 100%;
}
ul#link li a:hover{
    color: #FC7300;
}

#piePagina{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: #181823;
    color: #EFF5F5;
    text-align: center;
    padding: 10px;
    padding-bottom: 4%;
}

#redesSociales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
ion-icon{
    color: #EFF5F5;
    font-size: 2rem;
}
#mapaLink{
    display: none;
}
@media (max-width:1000px){
    #piePagina{
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    }
    #redesTitulo{
        position: relative;
        background-color: #181823;
        color: #EFF5F5;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-right: 6%;
    }
    #instituto{
        padding-left: 6%;
    }
}
@media (max-width:650px){
    #ubicacion{
        display: none;
    }
    #mapaLink{
        display: block;
    }
    ul#mapaLink li a{
        font-size: 1.3rem;
        color: #EFF5F5;
        position: relative;
        text-decoration: none;
        display: block;
    }
    ul#mapaLink li a::before{
        content: '';
        width: 0%;
        background-color: #FC7300;
        height: 4px;
        position: absolute;
        bottom: -4px;
        transition: all 0.9s;
    }
    ul#mapaLink li a:hover::before{
        width: 100%;
    }
    ul#mapaLink li a:hover{
        color: #FC7300;
    }
}

