@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}
img,video{
    width: 100%;
}
ul{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Belanosima', sans-serif;
}
/* || ENCABEZADO/ NAVBAR ||*/
@media (min-width: 768px){
    #encabezado{
        display: flex;/*para poner las cosas del head unas al lado de otras*/
        justify-content: space-between;/*separar las cosas del head*/
        align-items: center;
        position: fixed;
        background-color: #FC7300;
        z-index: 1000;
    }
    #menu{
        width: 60%;
    }
    #logo{
        width: 15%;
    }

    #opciones{
        display: flex;
        justify-content: space-around;
    }
    ul#opciones li a{ /*le aviso al css que tengo un a dentro de li dentro de ul*/
        font-size: 1.4rem;
        color: black;
        position: relative;
        text-decoration: none;
    }
    ul#opciones li a::before{
        content: '';
        width: 0%;
        background-color: #00425A;
        height: 4px;
        position: absolute;
        bottom: -4px;
        transition: all 0.9s;
    }
    ul#opciones li a:hover::before{
        width: 100%;
    }
    ul#opciones .dropdown-menu li a:hover::before{
        width: 88%;
    }
    ul#opciones li a:hover{
        color:#00425A;
    }
}
/* || BANNER || */
#banner{
    position: relative;
}
#subtituloBanner{
    position: absolute;
    top: 400px;
    font-size: 4rem;
    color: #EFF5F5;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 100%;
    text-align: center;
}
/* ||QUIENES SOMOS SECTION|| */
#somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EFF5F5;
    color: #181823;
    padding: 5%;
}

/* || FOOTER || */
#piePagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: #181823;
    color: #EFF5F5;
    text-align: center;
    padding: 10px;
}

#redesSociales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
ion-icon{
    color: #EFF5F5;
    font-size: 2rem;
}